/.MySeleniumDescriptionLabelProvider.java._trace
/.MySeleniumLabelProvider.java._trace
/.MySeleniumDescriptionLabelProvider.xtendbin
/.MySeleniumLabelProvider.xtendbin
/MySeleniumDescriptionLabelProvider.java
/MySeleniumLabelProvider.java
